body {
  font-family: "Poppins", sans-serif;
  background-color: #fffaf3;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #f4ce14;
  text-align: center;
  padding: 1.5rem;
}

.booking-page {
  padding: 2rem;
  text-align: center;
}

.booking-form {
  display: grid;
  gap: 1rem;
  max-width: 400px;
  margin: auto;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
}

button {
  background-color: #495e57;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #3b4e47;
}

.confirmed-page {
  text-align: center;
  padding: 2rem;
  color: #495e57;
}
.confirmed-page h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}